






<mat-toolbar color='primary' class="footer">
  <span class='spacer'></span>
  <p>© Copyright Angular Apps 2020.</p>
  <span class='spacer'></span>
</mat-toolbar>


<!-- <mat-list >
  <mat-list-item *ngFor="let data of podaciKrozProgram" class="footer">
    <mat-divider></mat-divider>
    <h3 matLine> {{data}} </h3>
  </mat-list-item>
</mat-list> -->

<!-- <mat-toolbar color='primary'>
  <span class='spacer'></span>
    <h3>© Copyright Angular Apps 2017.</h3>
  <span class='spacer'></span>
</mat-toolbar> -->





