<div class="courses-panel">
  <h3>Svi FILE Courses</h3>
  <mat-tab-group>
    <mat-tab label="Početno File">
      <!-- Saljem podatke u app-card-list -->
      <app-datafile [coursesFile]="beginnerCoursesBack"></app-datafile>
    </mat-tab>

    <mat-tab label="Napredno File">
      <!-- Saljem podatke u app-card-list -->
      <app-datafile [coursesFile]="advancedCoursesBack"></app-datafile>
    </mat-tab>
  </mat-tab-group>
  <!-- Nužno treba dodati ako zelimo da child radi -->
  <router-outlet></router-outlet>
</div>
