<div class="menu-bar">
  <button mat-raised-button color="accent" class="btn" (click)="noviKlijent()">Novi klijent</button>
</div>

<mat-toolbar>
  <mat-form-field color="accent">
    <input matInput (keyup)="filterTextZaSvaPolja($event.target.value)" placeholder="Filter">
    <input matInput placeholder="Filter">
  </mat-form-field>
</mat-toolbar>

<div>
  <mat-spinner class="title-center" *ngIf="spinnerLoad" value=75 style="margin:0 auto;" diameter="40" color="accent">
  </mat-spinner>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container matColumnDef="firstName" class="stupac">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezime </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Emmail </th>
    <td mat-cell *matCellDef="let element"> {{element.email }} </td>
  </ng-container>


  <!-- ACTIONS -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!-- EDIT -->
      <button mat-icon-button (click)="onEdit(element)" title='Editiraj podatke'>
        <mat-icon>edit</mat-icon>
      </button>
      <!-- DELETE -->
      <button mat-icon-button color="warn" (click)="onDelete(element._id)">
        <mat-icon>delete_outline</mat-icon>
      </button>
      <!-- Raspolozenje -->
      <button mat-icon-button color="primary">
        <mat-icon>mood</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <!-- END ACTIONS -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5,10 , 25]"></mat-paginator>
