<div class="limiter">
  <!-- SPINNER -->
  <div *ngIf="isResultsLoading" class="mat-elevation-z8">
    <div class="loading-shade">
      <mat-spinner color="accent"></mat-spinner>
    </div>
  </div>

  <div class="container-login" *ngIf="!isResultsLoading">
    <mat-card>


      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-content >
        <form  class="form-container" [formGroup]="authForm" novalidate (ngSubmit)="onSubmit()">

          <mat-form-field color="accent"  >
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="authForm.controls.email.invalid && authForm.controls.email.touched"> email is required
            </mat-error>
          </mat-form-field>

          <mat-form-field color="accent" >
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="authForm.controls.password.invalid && authForm.controls.password.touched"> password is
              required</mat-error>
          </mat-form-field>

          <div>
            <!-- LOGIN -->
            <button mat-raised-button class="btn-block"
              matRipple
              matRippleCentered="centered"
              matRippleUnbounded="unbounded"
              matRippleRadius="50"
              matRippleColor="rgba(0,0,0,0.1)"
              [disabled]="!authForm.valid" type="submit"
              (click)="login()"
              color="accent">{{title}}
            </button>

            <a class="btn btn-block forgot-password"
            [ngStyle]="title === 'Login' ? {'visibility': 'visible'} : {'visibility': 'hidden'}"
            (click) ="forgotPassHandler()">forgot password</a>

            <!-- LOGIN WITH GOOGLE -->
            <a href="{{URLBackend}}/appinvoice/auth/google"
              (click)="isResultsLoading=true"
              [ngStyle]="title === 'Login' ? {'visibility': 'visible'} : {'visibility': 'hidden'}"
              matRipple
              matRippleCentered="centered"
              matRippleUnbounded="unbounded"
              matRippleRadius="50"
              matRippleColor="rgba(0,0,0,0.1)"
              class="btn btn-social btn-block btn-google" mat-button>
              <img src="https://www.ucim.eu/img/google.png" alt="Can't Display Image" width="25" height="25">
              &nbsp;&nbsp;
              Login with Google
            </a>

            <!-- LOGIN WITH FACEBOOK  -->
            <button  class="btn btn-social btn-block btn-twitter"
            (click)="faceBook()"
            [ngStyle]="title === 'Login' ? {'visibility': 'visible'} : {'visibility': 'hidden'}"
              mat-button>
              <i class="fa fa-facebook"></i>
              <span class="material-icons">
                facebook
                </span>
                &nbsp;&nbsp;
              Login with Facebook
              </button>

            <!-- LOGIN WITH GITHUB -->
            <a href="{{URLBackend}}/appinvoice/auth/github"
             [ngStyle]="title === 'Login' ? {'visibility': 'visible'} : {'visibility': 'hidden'}"
            (click)="isResultsLoading=true"
              matRipple
              matRippleCentered="centered"
              matRippleUnbounded="unbounded"
              matRippleRadius="50"
              matRippleColor="rgba(0,0,0,0.1)"
              class="btn btn-social btn-block btn-github" mat-button>
              <img src="https://www.ucim.eu/img/github.png" class="img-thumbnail" alt="Can't Display Image" width="25" height="25">&nbsp;&nbsp;
              Login with Github
            </a>

          </div>
        </form>
      </mat-card-content>

      <div class="alternative" *ngIf="title === 'Login'">
        <p>Don't have an account?</p>
        <button mat-raised-button color="accent" routerLink="/app-invoice/signup">Signup</button>
      </div>

      <!-- LOGIN -->
      <div class="alternative" *ngIf="title === 'Signup'">
        <p>Have an account?</p>
        <button mat-raised-button color="accent"
          routerLink="/app-invoice/login">Login
        </button>
      </div>

    </mat-card>
  </div>
</div>
