/*  https://www.thecodecampus.de/blog/material-2-sticky-footer-mat-sidenav/ */
.all-wrap {
  /* margin-top: 150px; */
  min-height: 100vh; /* same height as browser window height */
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*same height as browser window height */
}

.content {
  display: flex;
  /* flex: 1; child will set to an equal size inside the container */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main {
  display: flex;
  flex-direction: column;
}

/* Select all direct descendants only of the <main> element */
/* that are not <router-outlet> elements: */
main > *:not(router-outlet) {
  flex: 1; /* child will set to an equal size inside the container */
  display: block;
}

/* Definicija  side nav */
.sidenav {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* same height as browser window height */
  width: 250px;
}

.sidenav h2 {
 margin-left: 20px;
}

/* *************************************** */

.menu-item.menu-item-active {
  /* text-decoration: underline; */
  border-bottom: 2px solid #444;
}

.btn:hover {
  color: #cfd8dc;
  border-bottom: solid 2px #cfd8dc;
}

.matlist:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 80%; /* Change this to whatever width you want. */
  padding-top: 0px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid #444; /* This creates the border. Replace black with whatever color you want. */
}

.aplikacija {
  background-color: #fff;
  color: #28a746;
  /* text-transform: uppercase; */
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: red;
}


/* fiksiran menu */
.fixed-header {
  width: 100%;
  height: 1rem;
  position: fixed;
  top: 0;
  z-index: 2;
  margin-bottom: 2rem;
}

/* Fiksiran footer na dnu ekrana */
.footer {
  position: fixed;
  margin-top: 1.5rem;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.fill-space {
  /* This fills the remaining space, by using flexbox.  */
  /* Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 45px;
}


.slozi {
  width: 80% !important;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
}

.aktivno {
  box-shadow: 5px 5px #b0bec5, 10px 10px #607d8b, 14px 14px #455a64;
}

.pomakni {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #28a746;
  width: 20%;
  height: 200vh;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .pomakni {
    display: none;
  }
  .slozi {
    width: 100% !important;
  }
}
