<!-- this is the sticky menu -->
<!-- <div class="tabs is-centered is-fullwidth" #stickyMenu [class.sticky]="sticky">
  <ul>
    <li class="is-active"><a>Pictures</a></li>
    <li><a>Music</a></li>
    <li><a>Videos</a></li>
    <li><a>Documents</a></li>
  </ul>
</div> -->
<!-- this is a fake long content; we need it so we can scroll down -->
<!-- <div class="content-moj"></div> -->





<mat-sidenav-container fullscreen class="all-wrap">
  <!-- MENU sa strane -->
  <mat-sidenav #menuSide class="sidenav" [opened]="isShowing">
    <h1>Naziv</h1>
    <mat-nav-list>
      <!-- Aplikacija Course -->
      <a mat-list-item *ngIf="izborAplikacije ==='app-university' ? true: false" routerLink="/app-university"
        class="matlist" (click)="toggleSidenav()">
        <mat-icon>library_books</mat-icon>
        <span>Baza Course Aplikacija</span>
      </a>

      <a mat-list-item *ngIf="izborAplikacije ==='app-university' ? true: false" routerLink="/app-university/homefile"
        class="matlist" (click)="toggleSidenav()">
        <mat-icon>bookmarks</mat-icon>
        <span>File Courses Aplikacija</span>
      </a>

      <!-- Aplikacija Invoice -->
      <!-- INVOICE -->
      <a mat-list-item *ngIf="izborAplikacije ==='app-invoice' ? true: false" routerLink="/app-invoice/invoice"
        class="matlist" (click)="toggleSidenav()">
        <fa-icon [icon]="faTable"></fa-icon>
        <span> Invoice </span>
      </a>
      <!-- CLIENT -->
      <a mat-list-item
        *ngIf="izborAplikacije ==='app-invoice' ? true: false"
        routerLink="/app-invoice/clients"
        class="matlist" (click)="toggleSidenav()">
        <mat-icon>groups</mat-icon>
        <span> Clients </span>
        <fa-icon [icon]="faCoffee"></fa-icon>
      </a>


      <!-- <a mat-list-item routerLink="about" class="matlist" (click)="toggleSidenav()">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </a> -->

      <!-- <a mat-list-item routerLink="about" class="matlist" (click)="toggleSidenav()">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a> -->

      <a mat-list-item routerLink="about" class="matlist" (click)="toggleSidenav()">
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!--  END MENU sa strane -->

  <mat-sidenav-content class="page-wrap">
    <div class="fixed-header">
      <mat-toolbar color="primary">
        <!-- Ikona CLOSE/OPEN -->
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>

        <!-- Aplikacija Course -->
        <!-- [ngClass]="{'menu-item-active': URLroute==='/app-university'}"  -->
        <!-- Coures data from base -->
        <!-- [routerLinkActiveOptions]="{exact:true}" znaci link aktivas samo ako je tocan! -->
        <button mat-button
         *ngIf="izborAplikacije ==='app-university' ? true: false"
          routerLink="/app-university"
          routerLinkActive="menu-item-active"
          [routerLinkActiveOptions]="{exact:true}"
          class="btn menu-item">
          <mat-icon>library_books</mat-icon><span>Course from Base</span>
        </button>

        <!-- Course from file -->
        <button mat-button
        *ngIf="izborAplikacije ==='app-university' ? true: false"
          routerLink="/app-university/homefile"
          routerLinkActive="menu-item-active"
          [routerLinkActiveOptions]="{exact:true}"
          class="btn menu-item">
          <mat-icon>bookmarks</mat-icon><span>Course from File</span>
        </button>


        <!-- Aplikacija Invoice -->
        <button mat-button *ngIf="izborAplikacije ==='app-invoice' ? true: false" routerLink="/app-invoice/invoice"
          [ngClass]="{'menu-item-active': URLroute==='/app-invoice'}" routerLinkActive="menu-item-active"
          class="btn menu-item"><span>Invoices</span>
        </button>
        <button mat-button *ngIf="izborAplikacije ==='app-invoice' ? true: false" routerLink="/app-invoice/clients"
          routerLinkActive="menu-item-active" class="btn menu-item"><span>Clients</span>
        </button>

        <!-- Popunjavanje prostora -->
        <span class="fill-space"></span>

        <!-- Odabir aplikacije -->
        <button mat-button [matMenuTriggerFor]="aboveMenu" class="aplikacija">Apl: {{izborAplikacije}}</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button mat-menu-item (click)="toggleAplikacija('app-university')">Course</button>
          <button mat-menu-item (click)="toggleAplikacija('app-invoice')">Invoice</button>
        </mat-menu>
        <!-- <button mat-button class="aplikacija"><span>{{izborAplikacije}}</span></button> -->

        <button mat-button routerLink="/about">
          <mat-icon>account_circle</mat-icon>Login
        </button>
        <button mat-button>
          <mat-icon>help_outline</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <!-- GLAVNI SADRŽAJ -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>


    <!-- FOOTER -->
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


