<mat-sidenav-container fullscreen>

  <!-- MENU sa strane -->
  <mat-sidenav #menuSide class="sidenav" [opened]="isShowing">
    <mat-nav-list>
      <!-- Aplikacija Course -->
      <a mat-list-item routerLink="/app-university" class="matlist">
        <mat-icon>library_books</mat-icon>
        <span>Baza Course Aplikacija</span>
      </a>

      <a mat-list-item routerLink="/app-university/homefile" class="matlist">
        <mat-icon>bookmarks</mat-icon>
        <span>File Courses Aplikacija</span>
      </a>

      <!-- Aplikacija Invoice -->
      <a mat-list-item routerLink="/invoice" class="matlist">
        <mat-icon>source</mat-icon>
        <span>Invoice Aplikacija</span>
      </a>

      <a mat-list-item routerLink="about" class="matlist">
        <!-- Material icons  -->
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>

      <a mat-list-item routerLink="about" class="matlist">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </a>

      <a mat-list-item routerLink="about" class="matlist">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>
  <!--  END MENU sa strane -->

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <app-footer>Footer</app-footer>
</mat-sidenav-container>
