<mat-sidenav-container fullscreen class="all-wrap">
  <!-- TOGGLE-MENU SA LIJEVE STRANE -->
  <mat-sidenav #menuSide class="sidenav" [opened]="isShowing">
    <h2>Aplikacija</h2>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <!-- Aplikacija Course TOGGLE-MENU SA LIJEVE STRANE -->
      <a mat-list-item
        (click)="toggleAplikacija('app-university')"
        class="matlist" (click)="toggleSidenav()">
        <mat-icon>library_books</mat-icon>&nbsp;&nbsp;
        <span>Course</span>
      </a>

      <!-- APLIKACIJA INVOICE TOGGLE-MENU SA LIJEVE STRANE-->
      <a mat-list-item
        (click)="toggleAplikacija('app-invoice')"
        class="matlist" (click)="toggleSidenav()">
        <fa-icon [icon]="faTable"></fa-icon>&nbsp;&nbsp;
        <span fxLayout="row" fxLayoutGap="20px" >Invoice</span>
      </a>

      <!-- FLEX INVOICE TOGGLE-MENU SA LIJEVE STRANE -->
      <a mat-list-item
        (click)="toggleAplikacija('flexLayout')"
        class="matlist" (click)="toggleSidenav()">
        <mat-icon>view_compact</mat-icon>&nbsp;&nbsp;
        <span>Flex</span>
      </a>

      <!-- SIGN OUT TOGGLE-MENU SA LIJEVE STRANE -->
      <a mat-list-item
        (click)="logoutInvoiceAplication()"
        class="matlist" (click)="toggleSidenav()">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>&nbsp;&nbsp;
        <span>Sign out</span>
      </a>

      <!-- SIGN IN TOGGLE-MENU SA LIJEVE STRANE-->
      <a mat-list-item
        routerLink="/app-invoice/login"
        class="matlist" (click)="toggleSidenav()">
        <mat-icon>account_circle</mat-icon>&nbsp;&nbsp;Login
      </a>

      <!-- ABOUT TOGGLE-MENU SA LIJEVE STRANE -->
      <a mat-list-item routerLink="about" class="matlist" (click)="toggleSidenav()">
        <mat-icon>question_answer</mat-icon>&nbsp;&nbsp;
        <span>About</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!--  END MENU sa strane -->

  <mat-sidenav-content class="page-wrap">

    <!-- MENU HEADER TOP FIXED ! -->
    <div class="fixed-header">
      <mat-toolbar color="primary">
        <!-- Ikona CLOSE/OPEN menu sa lijeve strane-->
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>

        <!-- Aplikacija Course -->
        <!-- [ngClass]="{'menu-item-active': URLroute==='/app-university'}"  -->
        <!-- Coures data from base -->
        <!-- [routerLinkActiveOptions]="{exact:true}" znaci link aktivas samo ako je tocan! -->
        <button mat-button
          *ngIf="izborAplikacije ==='app-university' ? true: false"
          routerLink="/app-university"
          routerLinkActive="menu-item-active"
          [routerLinkActiveOptions]="{exact:true}" class="btn menu-item">
          <mat-icon>library_books</mat-icon><span>Course Base</span>
        </button>

        <!-- Course from file -->
        <button mat-button
          *ngIf="izborAplikacije ==='app-university' ? true: false"
          routerLink="/app-university/homefile" routerLinkActive="menu-item-active"
          [routerLinkActiveOptions]="{exact:true}" class="btn menu-item">
          <mat-icon>bookmarks</mat-icon><span>Course File</span>
        </button>


        <!--  ****** APLIKACIJA INVOICE  ************  -->
        <button mat-button
          *ngIf="izborAplikacije ==='app-invoice' && user !==''  ? true: false"
          routerLink="/app-invoice/invoice"
          [ngClass]="{'menu-item-active': URLroute==='/app-invoice'}"
          routerLinkActive="menu-item-active"
          class="btn menu-item"><span>Invoices</span>
        </button>

        <button mat-button
          *ngIf="izborAplikacije ==='app-invoice'  && user !=='' ? true: false"
          routerLink="/app-invoice/clients"
          routerLinkActive="menu-item-active"
          class="btn menu-item"><span>Clients</span>
        </button>
        <!-- **** END APLIKACIJA INVOICE *****-->

        <!-- START FLEX ******************* FLEX-->
        <button mat-button
        *ngIf="izborAplikacije ==='flexLayout'"
        routerLink="/flexLayout/base"
        routerLinkActive="menu-item-active">
        <mat-icon>grid_on</mat-icon>Base
        </button>

        <button mat-button
        *ngIf="izborAplikacije ==='flexLayout'"
        routerLink="/flexLayout/base"
        routerLinkActive="menu-item-active">
        <mat-icon>grid_off</mat-icon>Base
        </button>

        <button mat-button
        *ngIf="izborAplikacije ==='flexLayout'"
        routerLink="/flexLayout/base"
        routerLinkActive="menu-item-active">
        <mat-icon>view_comfy</mat-icon>Base
        </button>
        <!--  END FLEX  *******************  FLEX-->

        <span class="fill-space"></span>

        <button mat-button fxHide.xs
          *ngIf="user !='' ? true: false">
          <mat-icon>person</mat-icon>{{user}}
        </button>

        <button mat-button fxHide.xs
           *ngIf="user ==='' ? false: true" (click)="logoutInvoiceAplication()">
            <fa-icon [icon]="faSignOutAlt"></fa-icon> Sign out
         </button>

        <button mat-button
        *ngIf="izborAplikacije ==='app-invoice' && user ==='' ? true: false"
        routerLink="/app-invoice/login"
        routerLinkActive="menu-item-active">
        <mat-icon>account_circle</mat-icon> Login
        </button>

        <button mat-button  fxHide.xs
          *ngIf="user ==='' ? true: false"
          routerLink="/app-invoice/signup"
          routerLinkActive="menu-item-active">
          <fa-icon [icon]="faSignInAlt"></fa-icon> Sign in
        </button>

      </mat-toolbar>
    </div>
    <!-- END MENU HEADER TOP -->

    <!-- ************************************* -->
    <!-- GLAVNI SADRŽAJ -->
    <main  fxLayout="row" class="content">
      <!-- GLAVNI MENI -->
        <div fxFlex="85%" fxFlex.lt-sm="100%" class="glavni-menu">
          <router-outlet></router-outlet>
        </div>

        <!-- Menu sa desne strane -->
        <div fxFlex="15%" fxHide.xs  class="menu-desno">
          <mat-list role="list">
            <h3 class="slozi" >Odaberi aplikaciju</h3>

            <mat-list-item role="listitem"
            (click)="toggleAplikacija('app-university')"
            matRipple
            matRippleCentered="centered"
            matRippleUnbounded="unbounded"
            matRippleRadius="50"
            matRippleColor="rgba(0,0,0,0.1)"
            [ngClass]="{'aktivno':izborAplikacije === 'app-university'}"
            class="aplikacija slozi"><mat-icon>library_books</mat-icon> Course
            </mat-list-item>

            <mat-list-item role="listitem"
            (click)="toggleAplikacija('app-invoice')"
            [ngClass]="{'aktivno':izborAplikacije === 'app-invoice'}"
            class="aplikacija slozi"><fa-icon [icon]="faTable"></fa-icon> Invoice
            </mat-list-item>

            <mat-list-item role="listitem"
            (click)="toggleAplikacija('flexLayout')"
            [ngClass]="{'aktivno':izborAplikacije === 'flexLayout'}"
            class="aplikacija slozi"><fa-icon [icon]="faTable"></fa-icon> Flex grid
            </mat-list-item>

          </mat-list>
        </div>
    </main>


    <!-- FOOTER -->
    <div class="footer">
      <app-footer></app-footer>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
