<mat-card>
  <mat-card-title>{{invoice.item}}</mat-card-title>
  <!-- {{ this.invoice | json}} -->
  <mat-card-content>
    <table>
      <tr>
        <td class="column-title">Date: </td>
        <td>{{invoice.date | date}}</td>
      </tr>
      <tr>
        <td class="column-title">Due: </td>
        <td>{{invoice.due | date}}</td>
      </tr>
      <tr>
        <td class="column-title">Qty: </td>
        <td>{{invoice.qty}}</td>
      </tr>
      <tr>
        <td class="column-title">Rate: </td>
        <td>{{invoice.rate}}</td>
      </tr>
      <tr>
        <td class="column-title">Tax: </td>
        <td>{{invoice.tax}}</td>
      </tr>
      <tr>
        <td class="column-title">Client: </td>
        <td>{{ clientFirstName}} {{clientLastName}} </td>
      </tr>
      <tr>
        <th class="row">Client Email:</th>
        <td>{{ clientEmail }} </td>
      </tr>
      <tr>
        <td class="column-title">Total: </td>
        <td>${{total}}</td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/app-invoice/invoice/{{invoice._id}}">Edit</a>
    <button mat-raised-button color="primary">Download</button>
  </mat-card-actions>
</mat-card>
