<div class="pokusni">
  <h1>pokusni works!</h1>
  <div>
    <a id="errorLink" routerLink="/">Go Back "/"</a>
  </div>
  <a id="errorLink" [routerLink]="['..']">Go Back "['..']"</a>
  <!-- <embed src="../../shared/AlenSkupnjak.pdf"  type="application/pdf"> -->
<hr>
    <button (click)="pdf()">PDF</button>
    <div class="pdf-container">

      <!-- <pdf-viewer [src] = src
                  [original-size]="false"
              ></pdf-viewer> -->

    <!-- <embed src="../../shared/AlenSkupnjak.pdf"  type="application/pdf" width="100%" height="900px"/> -->
    <!--
              <ngx-extended-pdf-viewer src = src useBrowserLocale="false" width="100%" height="600px"> </ngx-extended-pdf-viewer> -->
<!-- 
              <iframe src="../../shared/AlenSkupnjak.pdf" >
              </iframe> -->


    </div>

</div>


