<div class="pokusni">
  <h1>pokusni works!</h1>
  <div>
    <a id="errorLink" routerLink="/">Go Back "/"</a>
  </div>
  <a id="errorLink" [routerLink]="['..']">Go Back "['..']"</a>
  <!-- <embed src="../../shared/AlenSkupnjak.pdf"  type="application/pdf"> -->
<hr>
    <button (click)="pdf()">PDF</button>
    <div class="pdf-container">

      <p>
        Icon with a badge
        <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
          <!-- Include text description of the icon's meaning for screen-readers -->
          <span class="cdk-visually-hidden">
            Example with a home icon with overlaid badge showing the number 15
          </span>
      </p>

      <div>
        <img src="../../shared/img/google.png" class="img-thumbnail" alt="Can't Display Image" width="304" height="236">

      </div>

    </div>

</div>


